
@import "open-props/style";


body {
  font-family: var(--font-neo-grotesque);
  font-size: var(--font-size-3);
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 500%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
  font-size: var(--font-size-3);
  padding: var(--size-2);
  border: none;
  background-color: var(--gray-9);
  color: var(--gray-0);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#app > header > nav {
  background-color: black;
  padding-top: var(--size-3);
  padding-bottom: var(--size-3);
  color: white;
}

#app > header > nav a {
  color: var(--indigo-1);
  text-decoration: none;
}

#app > header > nav > menu {
  display:flex;
  flex-direction: row;
  align-items: center; 
  justify-content:space-between; 
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

#internal-links{
  gap: 10px;
  display: flex; 
  align-items: center; 
  justify-content:space-between; 
}

.logo{
  display: flex; 
  align-items: center; 
  justify-content: left; 
}

.home{
  display: flex; 
  align-items: center; 
  justify-content: flex-end; 
}

.playlists{
  display: flex; 
  align-items: center; 
  justify-content: flex-end; 
}

.logout{
  display: flex; 
  align-items: center; 
  justify-content: flex-end; 
}

.register{
  display: flex; 
  align-items: center; 
  justify-content: flex-end; 
}

.login{
  display: flex; 
  align-items: center; 
  justify-content: flex-end; 
}

#app > main {
  flex-grow: 1;
  padding: var(--size-2) var(--size-3);
}

#app > footer {
  padding-inline: var(--size-2);
  color: white;
}

.logo > img {
  width: 110px;
}



@media screen and (min-width: 425px) {

  #app {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  #app > header > nav {
    background-color: black;
    padding-top: var(--size-3);
    padding-bottom: var(--size-3);
    color: white;
  }

  #app > header > nav > menu {
    display: flex; 
    align-items: center; 
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }


  #internal-links{
    gap: 10px;
    display: flex; 
    align-items: center; 
    justify-content:space-between; 
  }
  
  .logo{
    padding: 20px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }
  
  .home{
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
  }
  
  .playlists{
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
  }
  
  .logout{
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
  }
  
  .register{
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
  }
  
  .login{
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
  }
  
 
}